# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=iam

# RabbitMQ Configuration
RABBITMQ_CONN=amqp://agi_rabbitmq_user:agi_rabbitmq_user@localhost:5672/agi_rabbitmq_user
RAW_JOBS_QUEUE=raw_jobs_queue
STANDARDIZED_JOBS_QUEUE=job_standardized_queue
